In [1]:
from rideSharingPy import UberObj as uber, LyftObj as lyft, GeoObj as geo, YelpObj as yelp
import pandas as pd

In [2]:
# functions
def show_uber_estimates(origin,destination):
    data = uber().get_ride_cost(st_lat=origin[0],st_lon=origin[1],en_lat=destination[0],en_lon=destination[1])
    estimates = []
    for v in data:
        t = (v['display_name'],v['distance'],v['duration'],v['low_estimate'],v['high_estimate'],v['surge_multiplier'])
        estimates.append(t)
    estimates = pd.DataFrame(estimates,columns=['Type','Distance','Duration','Low_cost','High_cost','Surge_X'])
    return estimates

def show_lyft_estimates(origin,destination):
    data = lyft().get_ride_cost(st_lat=origin[0],st_lon=origin[1],en_lat=destination[0],en_lon=destination[1])
    estimates = []
    for v in data:
        t = (v['display_name'],v['estimated_distance_miles'],v['estimated_duration_seconds'],
             v['estimated_cost_cents_min']/100.,v['estimated_cost_cents_max']/100.,
             1+float(v['primetime_percentage'].split('%')[0])/100.)
        estimates.append(t)
    estimates = pd.DataFrame(estimates,columns=['Type','Distance','Duration','Low_cost','High_cost','Surge_X'])
    return estimates

def show_nearby_places(street_address):
    df = pd.DataFrame(yelp(street_address).get_places())
    df.index = df[0].values
    df.drop(0,axis=1,inplace=True)
    return df.T

In [4]:
orig_geo = geo("55 Fruit St, Boston, MA").get_lat_lon()
dest_geo = geo("415 South Street,Waltham, MA").get_lat_lon()

In [5]:
show_uber_estimates(orig_geo,dest_geo)

        Type  Distance  Duration  Low_cost  High_cost  Surge_X
0   uberPOOL     15.88      1440      26.0       27.0      1.0
1      uberX     15.88      1440      27.0       36.0      1.0
2     uberXL     15.88      1440      49.0       64.0      1.0
3  UberBLACK     15.88      1440      75.0       98.0      1.0
4    uberSUV     15.88      1440      88.0      113.0      1.0
5       TAXI     15.88      1440       NaN        NaN      1.0

In [6]:
show_lyft_estimates(orig_geo,dest_geo)

        Type  Distance  Duration  Low_cost  High_cost  Surge_X
0  Lyft Plus     13.22      1606     42.55      54.55      1.0
1  Lyft Line     13.22      1606     16.70      16.70      1.0
2       Lyft     13.22      1606     21.68      30.55      1.0

In [7]:
show_nearby_places('Central Square,Cambridge, MA')

,collegeuniv,education,restaurants,realestate,churches,hospitals,amusementparks,parks,parking,bars,danceclubs,lounges,grocery,financialservices
1,1,20,88,47,8,1,0,8,1,19,5,4,8,17

In [ ]:
from ge