In [1]:
from rideShareApp import UberObj as uber, LyftObj as lyft, geoObj as geo
import pandas as pd

In [2]:
# functions
def show_uber_estimates(origin,destination):
    data = uber().get_ride_cost(st_lat=origin[0],st_lon=origin[1],en_lat=destination[0],en_lon=destination[1])
    estimates = []
    for v in data:
        t = (v['display_name'],v['distance'],v['duration'],v['low_estimate'],v['high_estimate'],v['surge_multiplier'])
        estimates.append(t)
    estimates = pd.DataFrame(estimates,columns=['Type','Distance','Duration','Low_cost','High_cost','Surge_X'])
    return estimates

def show_lyft_estimates(origin,destination):
    data = lyft().get_ride_cost(st_lat=origin[0],st_lon=origin[1],en_lat=destination[0],en_lon=destination[1])
    estimates = []
    for v in data:
        t = (v['display_name'],v['estimated_distance_miles'],v['estimated_duration_seconds'],
             v['estimated_cost_cents_min']/100.,v['estimated_cost_cents_max']/100.,
             1+float(v['primetime_percentage'].split('%')[0])/100.)
        estimates.append(t)
    estimates = pd.DataFrame(estimates,columns=['Type','Distance','Duration','Low_cost','High_cost','Surge_X'])
    return estimates

In [3]:
orig_geo = geo("17 Prospect St, Waltham, MA").get_lat_lon()
dest_geo = geo("415 South Street,Waltham, MA").get_lat_lon()

In [4]:
show_uber_estimates(orig_geo,dest_geo)

        Type  Distance  Duration  Low_cost  High_cost  Surge_X
0   uberPOOL      0.22        60       6.0        7.0      1.0
1      uberX      0.22        60       6.0        7.0      1.0
2     uberXL      0.22        60       7.0        8.0      1.0
3  UberBLACK      0.22        60      15.0       15.0      1.0
4    uberSUV      0.22        60      25.0       25.0      1.0
5       TAXI      0.22        60       NaN        NaN      1.0

In [6]:
show_lyft_estimates(orig_geo,dest_geo)

        Type  Distance  Duration  Low_cost  High_cost  Surge_X
0  Lyft Plus      0.23       153      7.55       9.55      1.0
1  Lyft Line      0.23       153      3.50       3.50      1.0
2       Lyft      0.23       153      6.55       6.55      1.0